export("som","xyf", "bdk", "supersom",
       "classvec2classmat", "classmat2classvec",
       "map", "add.cluster.boundaries",
       "topo.error", "unit.distances", "check.whatmap", "tricolor")

S3method(print, kohonen)
S3method(plot, kohonen)
S3method(predict, kohonen)
S3method(summary, kohonen)
S3method(identify, kohonen)
S3method(map, kohonen)

useDynLib(kohonen)

# Import all packages listed as Imports or Depends
importFrom(class, somgrid)
importFrom(MASS, eqscplot)
